{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
<br>
<br>
        <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal">
            {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail">
            {% else %}
            <img src="{{url_for('static',filename = 'photos/avatar.png')}}" alt="">
            {% endif %}
            <p class="user-tag"> {{user.username|capitalize}} </p>
            {% if user == current_user %}
            <a><form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required>
                <input type="submit">
                </form>
                </a>
        </a>
        {% endif %}
         <h3 style="font-size: 20px;color: black;">{{user.username|capitalize}} </h3>
         <em>click my face for more</em>
            </center>
            <div class="modal hide" id="aboutModal">
                <div class="modal-header">
                    <button style="color: blanchedalmond" type="button" class="close" data-dismiss="modal">✕</button>
                </div>
                    <div class="modal-body" style="text-align:center;">
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <div id="modalTab">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="about">
                                            {% if user.profile_pic_path %}
                                            <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail">
                                        {% else %}
                                        <img src="{{url_for('static',filename = 'photos/avatar.png')}}" alt="">
                                        {% endif %}
                                    
      <h3 style="font-size: 20px;color: antiquewhite;" class="media-heading">{{user.username|capitalize}}<small>  {{user.location}} </small></h3>
      <span style="font-size: 20px;color: antiquewhite;"><strong>Preferences</strong></span>
      <p style="font-size: 20px;color: antiquewhite;"> {{user.preferences}} </p>     
    </center>
    <hr>
    <center>
        <div class="col-md-8 stats">
            
            <h3 style="font-size: 20px;color: antiquewhite;">Bio</h3>
            <hr>
            {% if user.bio %}
                <p style="font-size: 20px;color: antiquewhite;"> {{user.bio}} </p>
            {% else %}
                <p style="font-size: 20px;color: antiquewhite;">{{user.username|capitalize}} has no bio</p>
            {% endif %}
            {% if user == current_user %}
            <a class="btn btn-info "  style="font-size: 13px;color: antiquewhite;" href="{{url_for('main.update_profile',uname=user.username)}}">Edit Bio</a>
            <br>
            {% endif %}
            <br>
        </div>
      <br>
      </center>
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="container">
    <div class="row about">
        <div class="col-md-4 picture">
           
            {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail">
            {% else %}
            <img src="{{url_for('static',filename = 'photos/avatar.png')}}" alt="">
            {% endif %}
            <p class="user-tag"> {{user.username|capitalize}} </p>
            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required>
                <input type="submit">
            </form>
            {% endif %}
        </div>
    </div>
</div> -->
{% endblock %}