{% extends 'base.html' %}
{%block content%}
<div class="container" style = "font-size:17px;text-align:center;">
<h1>About us</h1>
<P>Book Review is a free service that helps users discover books they'll love<br>
    while providing authors and publishers.If you like books you will love us<br>
    Its a website designed for book lovers.</P>
<p>You will probably notice that the majority of reviews tend towards the positive<br>
     and this is mainly due to the fact that we choose very carefully which books are<br>
     accepted, there simply is not enough time in the world to read too many badly written books.
</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{%block footer%}
{{super()}}
{%endblock%}
{%endblock%}
