{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px"  src="/static/comics/c1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The Horror! The Horror! uncovers a rare treasury of some of the most important and neglected stories in American literature—the pre-Code horror comics of the 1950s.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c13.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The book opens up with the eeeevil CEO of Oliver Queen’s company trying to conspire against Oliver to the company’s board.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c3.webp" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>In the stories, Spider-Man is the alias of Peter Parker, an orphan raised by his Aunt May and Uncle Ben in New York City after his parents Richard and Mary Parker were killed in a plane crash.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px"  src="/static/comics/c4.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Before Fredric Wertham and The Seduction of the Innocent (SOTI), before the Kefauver Hearings, and before the infamous Comics Code the comic book racks at local drug stores.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c5.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The Dark Knight and The Fastest Man Alive, the two greatest detectives on any world, unite to explore the mystery behind a certain blood-stained smiley button embedded in the Batcave wall.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c6.webp" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>When the character Northstar first came out of the closet in the pages of Alpha Flight back in 1992, he became one of the first openly gay superheroes in mainstream comics. The story itself was a bit of a mess.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px"  src="/static/comics/c7.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>In his comic book appearances, the character is both the Hulk, a green-skinned, hulking and muscular humanoid possessing a vast degree of physical strength, and his alter ego Dr. Robert Bruce Banner.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c8.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Fuelled by his restored faith in humanity, and inspired by Superman's selfless act, Bruce Wayne enlists newfound ally Diana Prince to face an even greater threat.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>A cosmic virus has entered our galaxy infecting entire planets. And before it's done, the Man of Steel will have to travel to the ends of the universe to rescue Lois Lane from its corruption.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px"  src="/static/comics/c10.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>While visiting his mother's grave, Barry Allen, known as the Flash, is alerted to a break-in by his enemies Captain Cold, Captain Boomerang, Heat Wave, Mirror Master, and Top at the Flash Museum.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c11.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>When Robin's murder investigation casts suspicion on Beast Boy's new employer, Nevrland, Beast Boy finds himself the odd man out on the Teen Titans.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class=" ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/comics/c12.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Henched"! Have you been thinking about breaking bad? There's never been a better time help your favorite super-villain take over the world, defeat an archnemesis or rob a bank.</b></p>
                    <a href="https://comiconlinefree.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</div>
{%block footer%}
{{super()}}
{%endblock%}
{% endblock %}