{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/mercy.jpg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px"  class="card-name"><b>True Love is East Africa’s leading women’s magazine. It has been especially tailored to fit the dynamic lifestyles of both contemporary career women and home-makers experience.
                        True Love is all a woman needs.</b></p>
                    <a href="http://carolemandimedia.co.ke/true-love/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/couture.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>COUTURE Africa seeks to not only celebrate African Fashion, but bring global fashion and beauty trends into the African market in a relatable and easily translatable way to our readers.</b></p>
                    <a href="https://www.coutureafricamag.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/njugush.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Parents magazine is a force to reckon within Kenya’s media industry.It is arguably the best family magazine in the region tackling issues in society ranging from family to lifestyle to health and fashion.</b></p>
                    <a href="https://parentsafrica.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/urban.jpeg"style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>URBAN Magazine is an urban entertainment media outlet covering culture, music, fashion and sports as they relate to our urban audience.</b></p>
                    <a href="https://www.urbanmag-online.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/INS_coverOverride.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>InStyle is the leading site for celebrity style. See expert fashion advice, star hairstyles, beauty tips, how-to videos and real-time red carpet coverage.</b></p>
                    <a href="https://www.instyle.com/celebrity/janelle-monae-august-badass-cover-story" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  style="width:400px;height:400px;" src="/static/images/cover-drum-201612.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Drum is East Africa’s leading society magazine launched in September 2004. It was relaunched in Jan 2011 under Carole Mandi Media.</b></p>
                    <a href="http://carolemandimedia.co.ke/drum/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/cosmo.jpeg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Cosmopolitan is your source for the latest sex tips, celebrity news, dating and relationship help, beauty tutorials, fashion trends, and more.</b></p>
                    <a href="https://www.cosmopolitan.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/pato.jpeg"style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>TLmag is dedicated to curating and capturing the collectible culture – the international players and evolving expertise that shape art and design.</b></p>
                    <a href="https://www.taylorlive.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/angel.jpeg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Entertainment Weekly has all the latest news about TV shows, movies, and music, as well as exclusive behind the scenes content from the entertainment world.</b></p>
                    <a href="https://ew.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/lofa.jpg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>"Love of Fashion In Africa" Lofa Magazine showcases the world of fashion and beauty in and out of the continent.</b></p>
                    <a href="http://www.lofamagazine.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/gq-moty-cover-kaepernick.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The latest tips and advice for men on style, grooming, fitness, best products, travel destinations and more. Find politics, sports and entertainment news.</b></p>
                    <a href="https://www.gq.com/story/colin-kaepernick-cover-men-of-the-year" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/glitz.jpg"style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Glitz Africa is an exciting high-end celebrity, lifestyle and fashion brand which highlights the life of the contemporary African. </b></p>
                    <a href="https://www.glitzafrica.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{%block footer%}
{{super()}}
{%endblock%}
{% endblock %}


