{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health1.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px"  class="card-name"><b> Outside covers travel, sports, health, and fitness, as well as the personalities, the environment, and the style and culture of people.</b></p>
                   <a href="https://www.outsideonline.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health2.jpeg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Shape Up is an international digital magazine for men and women which provides everything regarding fitness and health.</b></p>
                    <a href="http://fabilasfitness.blogspot.com/2016/01/introducing-nigerias-healthfitness.html" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health3.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Your ultimate source for full workout plans and advice on building muscle, improving nutrition, and using supplements.</b></p>
                    <a href="https://www.muscleandfitness.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health4.png"style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Discover new workout ideas, healthy-eating recipes, makeup looks, skin-care advice, the best beauty products and tips, trends, and more from SELF.</b></p>
                    <a href="https://www.self.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health5.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Get your digital subscription/issue of Men's Health Summer Training Guide Magazine on Magzter and enjoy reading the magazine on iPad, iPhone, Android</b></p>
                    <a href="https://trainingmag.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  style="width:400px;height:400px;" src="/static/images/health6.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Vegan Health & Fitness Magazine is the first and only internationally distributed magazine with the word "vegan" in the title combined with fitness.</b></p>
                    <a href="https://www.veganhealthandfitnessmag.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health7.png" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Yoga Magazine is the number one yoga, health and fitness brand in the UK and USA. A chic, contemporary publication specialising in yoga.</b></p>
                    <a href="https://www.yogajournal.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health8.jpg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Your complete source for natural health and wellness.We explore the nearly invisible system inside you that balances your entire body</b></p>
                    <a href="https://naturalbodzmagazine.com/site/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health9.jpg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Women's Health is your go-to destination for new workouts, legit nutrition advice and weight loss tips, the latest health news, healthy recipes, and more.</b></p>
                    <a href="https://www.womenshealthmag.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/health0.jpg" style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Health and fitness magazine cover a variety of topics including physical fitness and well-being, nutrition, beauty, strength, bodybuilding, and weight training.</b></p>
                    <a href="https://www.fitnessmagazine.com/health/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/fitness.jpg" style="width:400px;height:400px;" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Find everything you need to crush your fitness goals such as workout routines, training plans, free workout videos, fitness tips, and exercise trends.</b></p>
                    <a href="http://www.geauxhealthandfitness.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img  src="/static/images/men.jpg"style="width:400px;height:400px;"  alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Men's Health is the brand men live by for fitness, nutrition, health, sex, style, grooming, tech, weight loss, and more. </b></p>
                   <a href="https://www.menshealth.com/" class="btn btn-primary btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{%block footer%}
{{super()}}
{%endblock%}
{% endblock %}


