{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<body>
<div class="header">
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100" src="/static/images/bg.jpeg" height="600px">
              <div class="mask rgba-black-light"></div>
            </div>
           
            <div class="intro">
                {% if current_user.is_authenticated%}
                    <h1 style="color: antiquewhite;text-align: center;" class="display-4">WELCOME!YOU CAN NOW READ AND REVIEW BOOKS..</h1>
                    {% else%}
                    <h1 style="color: antiquewhite;text-align: center;" class="display-4">WHAT'S YOUR FAVOURITE BOOK COLLECTION?</h1>
                    <h1 style="color: antiquewhite;text-align: center;" class="display-4">SIGN UP NOW!!</h1>
                    <a href="{{url_for('auth.register')}}" type="button" class="btn btn-info " style="width:150px;font-size: 17px;" >SIGN UP</a>
                    {% endif%}
                </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100" src="/static/images/bg2.jpeg" height="600px">
              <div class="mask rgba-black-strong"></div>
            </div>
            <div class="intro">
                    
                {% if current_user.is_authenticated%}
                <h1 style="color: antiquewhite;text-align: center;" class="display-4">WELCOME!YOU CAN NOW READ AND REVIEW BOOKS..</h1>
                {% else%}
                <h1 style="color: antiquewhite;text-align: center;" class="display-4">WHAT'S YOUR FAVOURITE BOOK COLLECTION?</h1>
                <h1 style="color: antiquewhite;text-align: center;" class="display-4">SIGN UP NOW!!</h1>
                <a href="{{url_for('auth.register')}}" type="button" class="btn btn-info " style="width:150px;font-size: 17px;" >SIGN UP</a>
                {% endif%}
                </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100" src="/static/images/bg3.jpeg" height="600px">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="intro">
                    
                {% if current_user.is_authenticated%}
                <h1 style="color: antiquewhite;text-align: center;" class="display-4">WELCOME!YOU CAN NOW READ AND REVIEW BOOKS..</h1>
                {% else%}
                <h1 style="color: antiquewhite;text-align: center;" class="display-4">WHAT'S YOUR FAVOURITE BOOK COLLECTION?</h1>
                <h1 style="color: antiquewhite;text-align: center;" class="display-4">SIGN UP NOW!!</h1>
                <a href="{{url_for('auth.register')}}" type="button" class="btn btn-info " style="width:150px;font-size: 17px;" >SIGN UP</a>
                {% endif%}
                </div>
          </div>
        </div>
    </div>
<h1 style="text-align: center;">BOOKS</h1>
<br>
<div  class="novels">
<div class="container-fluid">
    <div class="row">
        <div class="">
            <h1 style="text-align: center;">NOVELS</h1>
            <div class="card ml-4 mt-4"  style="width: 40rem;" >
                <div class="view overlay zoom">
                    <img style="margin-left: auto; margin-right: auto;" height="270px" src="/static/images/b1.jpeg" alt="Card image cap">
                </div>
                <div  style="font-size: 11px; text-align:center;" class="card-body">
                    
                    <a href="/novels" style="font-size: 11px; text-align:center;" class="btn btn-info "  style="width:150px;">VIEW MORE</a>
                    
                </div>
            </div>
        </div>
        <div class="">
            <h1 style="text-align: center;">HEALTH & FITNESS</h1>
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img style="margin-left: auto; margin-right: auto;" height="270px" src="/static/images/b2.jpg"alt="Card image cap">
                </div>
                <div  style="font-size: 11px; text-align:center;" class="card-body">
                    
                    <a href="/health" style="font-size: 11px; text-align:center;" class="btn btn-info "  style="width:150px;">VIEW MORE</a>
                    
                </div>
            </div>
        </div>
        <div class="">
            <h1 style="text-align: center;">COMICS</h1>
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img style="margin-left: auto; margin-right: auto;" height="270px" src="/static/images/b3.jpg" alt="Card image cap">
                </div>
                <div style="font-size: 11px; text-align:center;" class="card-body">
                    
                    <a href="/comic" style="font-size: 11px; text-align:center;"  class="btn btn-info "  style="width:150px;">VIEW MORE</a>
                    
                </div>
            </div>
        </div>
    </div>
 </div>
 <br>
 <br>
 <div class="container-fluid">
    <div class="row">
        <div class="">
            <h1 style="text-align: center;">MOTIVATIONAL</h1>
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img style="margin-left: auto; margin-right: auto;" height="270px" src="/static/images/b6.jpg" alt="Card image cap">
                </div>
                <div  style="font-size: 11px; text-align:center;" class="card-body">
                    
                    <a href="/motivation" style="font-size: 11px; text-align:center;"  class="btn btn-info "  style="width:150px;">VIEW MORE</a>
                    
                </div>
            </div>
        </div>
        <div class="">
            <h1 style="text-align: center;">SPIRITUAL</h1>
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img style="margin-left: auto; margin-right: auto;" height="270px" src="/static/images/b5.jpg" alt="Card image cap">
                </div>
                <div  style="font-size: 11px; text-align:center;" class="card-body">
                    
                    <a href="/spiritual" style="font-size: 11px; text-align:center;"  class="btn btn-info "  style="width:150px;">VIEW MORE</a>
                    
                </div>
            </div>
        </div>
        <div class="">
            <h1 style="text-align: center;">FASHION & ENTERTAINMENT</h1>
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img style="margin-left: auto; margin-right: auto;" height="270px" src="/static/images/b7.jpg" alt="Card image cap">
                </div>
                <div  style="font-size: 11px; text-align:center;" class="card-body">
                    
                    <a href="/fashionentertainment" style="font-size: 11px; text-align:center;"  class="btn btn-info "  style="width:150px;">VIEW MORE</a>
                    
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
<!-- Card -->
<div style="background-image: url(static/images/b4.jpg); background-size: cover;background-repeat: no-repeat;width:100%; " class="container-fluid">
 <div class ="row">
        <div class="col-md-4">
                <div style="width: 300px;">
                        <!-- Avatar -->
                        <div class="avatar; view overlay zoom">
                          <img id="jk" src="static/images/i3.jpg"  class="rounded-circle" alt="woman avatar">
                        </div>
                        <!-- Content -->
                        <div style="color: antiquewhite; font-size: 25px;">
                          <!-- Name -->
                          <h4 style="color: antiquewhite; font-size: 25px;" class="card-title"><b>George R.R. Martin</b></h4>
                          <hr>
                          <!-- Quotation -->
                          <p ><i  class="fas fa-quote-left"></i><b>A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.</b></p>
                        </div>
                      </div>
                    </div>
<br>
<br>
<div  class="col-md-4">
<div style="width: 300px;">
        <!-- Avatar -->
        <div class="avatar; view overlay zoom">
          <img id="jk"src="static/images/i.jpg" class="rounded-circle" alt="woman avatar">
        </div>
        <!-- Content -->
        <div style="color: antiquewhite; font-size: 25px;">
          <!-- Name -->
          <h4 style="color: antiquewhite; font-size: 25px;" class="card-title"><b>J.K. Rowling</b></h4>
          <hr>
          <!-- Quotation -->
          <p ><i  class="fas fa-quote-left"></i><b>If you don't like to read,you haven't found the right book.</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">

            <div style="width: 300px;">
                    <!-- Avatar -->
                    <div class="avatar; view overlay zoom">
                      <img id="jk"src="static/images/i2.jpg" class="rounded-circle" alt="woman avatar">
                    </div>
                    <!-- Content -->
                    <div style="color: antiquewhite; font-size: 25px;">
                      <!-- Name -->
                      <h4 style="color: antiquewhite; font-size: 25px;" class="card-title"><b>  Stan Lee</b></h4>
                      <hr>
                      <!-- Quotation -->
                      <p ><i  class="fas fa-quote-left"></i><b>Reading is good.And you can quote me on that!</b></p>
                    </div>
                  </div>
                </div>
</div>
</div>

{%block footer%}
{{super()}}
{%endblock%}
</body>
{% endblock %}