{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m1.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>As long as you keep going, you'll keep getting better. And as you get better, you gain more confidence. That alone is success.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m2.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>At the end of the day, you are solely responsible for your success and your failure. And the sooner you realize that, you accept that, and integrate that into your work ethic.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m3.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Security is mostly a superstition. It does not exist in nature, nor do the children of men as a whole experience it. Avoiding danger is no safer in the long run than outright exposure.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m4.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>My goals have changed throughout my life. At one time it was winning awards, selling out concert dates, selling more albums than anyone else.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m5.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Your personal life, your professional life, and your creative life are all intertwined. I went through a few very difficult years where I felt like a failure.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m6.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Don't ever criticize yourself. Don't go around all day long thinking, 'I'm unattractive, I'm slow, I'm not as smart as my brother.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m7.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Sometimes we make the process more complicated than we need to. We will never make a journey of a thousand miles by fretting about how long it will take or how hard it will be.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m8.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>I long to accomplish a great and noble task, but it is my chief duty to accomplish small tasks as if they were great and noble.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m9.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Only the wise know just where predestination ends and free will begins. Meanwhile, you must keep on doing your best, according to your own clearest understanding.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m10.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>You can do anything as long as you have the passion, the drive, the focus, and the support.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m11.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>I've worked too hard and too long to let anything stand in the way of my goals. I will not let my teammates down and I will not let myself down.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/motivation/m12.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>I long to accomplish a great and noble task, but it is my chief duty to accomplish small tasks as if they were great and noble.</b></p>
                    <a href="http://www.publicbookshelf.com/selfhelp/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{%block footer%}
{{super()}}
{%endblock%}

{% endblock %}