{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/president.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The President Is Missing confronts a threat so huge that it jeopardizes not just Pennsylvania Avenue and Wall Street, but all of America.</b></p>
                    <a href="https://continuous.epub.pub/epub/5b15f845f5e3830007f4f147" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/beforeyours.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>A South Carolina lawyer learns about the questionable practices of a Tennessee orphanage.</b></p>
                    <a href="https://www.overdrive.com/media/3064617/before-we-were-yours" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/girls.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>FBI Agent Nell Flynn hasn't been home in ten years. Nell and her father, Homicide Detective Martin Flynn, have never had much of a relationship.</b></p>
                    <a href="https://continuous.epub.pub/epub/5d20af8ba14ecc0007e3551e" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/davincicode.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Louvre curator and Priory of Sion grand master Jacques Saunière is fatally shot one night at the museum by an albino Catholic monk named Silas..</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/books-secret-chord-pb-lr.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Peeling away the myth to bring the Old Testament's King David to life in Second Iron Age Israel, Brooks traces the arc of his journey from obscurity to fame..</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/grisham.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>In the small north Florida town of Seabrook, a young lawyer named Keith Russo was shot dead at his desk as he worked late one night.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/haunted.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The house is historic, some say haunted. It is also slated to be razed and replaced by condos, unless Hannah Smith can do something about it.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/hobbit.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Bilbo Baggins is a hobbit who enjoys a comfortable, unambitious life, rarely traveling any farther than his pantry or cellar.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/inferno.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Harvard professor of symbology Robert Langdon awakens in an Italian hospital, disoriented and with no recollection of the past thirty-six hours.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/It_cover.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Welcome to Derry, Maine. It’s a small city, a place as hauntingly familiar as your own hometown. Only in Derry the haunting is real.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/mountain.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>On a stormy winter night, two strangers wait for a flight at the Salt Lake City airport.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/novels/ounce.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>After nine years of marriage and four children, Carmen and Alex are beginning to take each other for granted.</b></p>
                    <a href="https://www.epub.pub/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{%block footer%}
{{super()}}
{%endblock%}
{% endblock %}
