{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s1.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Om Swami on the spiritual path, everyone need motivation and spiritual guidance. living with a spiritual master or having a friend circle who is following the spiritual path sincerely is a real blessing for any seeker.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s2.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>This one is written by Beth Ann Mulligan.
                        Mulligan is graduated magna cum laude from the Duke University School of Medicine Physician Assistant program..</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s3.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>A fifteen-year-old boy is walking through a swirling fog on his way to school when a voice calls out, "Come here. We need to talk." Out of the mist emerges an old man with a white beard.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s4.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>This is a spiritual book inspired by a remarkable true life story, written in a heartfelt, open way that will affect everybody who reads it. It shows us that we are all much more than we think we are and that trials in our life bring us to a higher spiritual level.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s5.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>In this one amazing book you will learn more than 30 meditation techniques to change your life. 
                        And you will learn how to meditate properly.
                        It’s an amazing book.     
                        But then I would say that: I wrote it.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s6.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Trees are sanctuaries. Whoever knows how to speak to them, whoever knows how to listen to them, can learn the truth. They do not preach learning and precepts, they preach, undeterred by particulars, the ancient law of life.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s7.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>They are like lonely persons. Not like hermits who have stolen away out of some weakness, but like great, solitary men, like Beethoven and Nietzsche.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s8.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Muhammad has always been standing higher than the Christianity. He does not consider god as a human being and never makes himself equal to God.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s9.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>I challenge anyone to understand Islam, its spirit, and not to love it. It is a beautiful religion of brotherhood and devotion.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s10.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Make your own Bible. Select and collect all the words and sentences that in all your readings have been to you like the blast of a trumpet.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s11.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>No woman wants to be in submission to a man who isn't in submission to God!</b></p>
                    <a href="/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <img class="card-img-top" style="margin-left: auto; margin-right: auto;" height="250px" src="/static/spirit/s12.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b> believe in God, but not as one thing, not as an old man in the sky. I believe that what people call God is something in all of us.</b></p>
                    <a href="http://www.freespiritualebooks.com/" class="btn btn-success btn-rounded mb-4">Read Online</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{%block footer%}
{{super()}}
{%endblock%}
{% endblock %}